<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-continuous-take-pictures" version="0.0.1">
  <name>ContinuousTakePictures</name>
  <description>continuous take pictures</description>
  <license>MIT</license>
  <repo>https://github.com/servbus/cordova-plugin-continuous-take-pictures.git</repo>
  <issue>https://github.com/servbus/cordova-plugin-continuous-take-pictures.git/issues</issue>
  <engines>
    <engine name="cordova" version=">=6.1.1"/>
  </engines>
  <js-module src="www/ContinuousTakePictures.js" name="ContinuousTakePictures">
    <clobbers target="cordova.plugins.ContinuousTakePictures"/>
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="ContinuousTakePictures">
        <param name="ios-package" value="ContinuousTakePictures"/>
      </feature>
    </config-file>
    
    <resource-file src="src/ios/Camera.bundle"/>

    <source-file src="src/ios/ContinuousTakePicturesPlugin.swift"/>
    <source-file src="src/ios/ViewController.swift"/>

    <framework src="AVFoundation.framework"/>
    <framework src="AssetsLibrary.framework"/>
    <framework src="CoreVideo.framework"/>
    <framework src="QuartzCore.framework"/>
    <framework src="CoreGraphics.framework"/>
    <framework src="CoreImage.framework"/>
    <framework src="AudioToolbox.framework"/>

    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string></string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string></string>
    </config-file>
  </platform>
  <platform name="android">
    <hook type="after_plugin_install" src="hooks/after_plugin_installhook_add_r_import.js" />

    <source-file src="src/android/com/servbus/customcamera/ContinuousTakePictures.java" target-dir="src/com/servbus/customcamera"/>
    <source-file src="src/android/com/servbus/customcamera/activity/CameraActivity.java" target-dir="src/com/servbus/customcamera/activity"/>
    <source-file src="src/android/com/servbus/customcamera/utils/BitmapUtils.java" target-dir="src/com/servbus/customcamera/utils"/>
    <source-file src="src/android/com/servbus/customcamera/utils/CameraUtil.java" target-dir="src/com/servbus/customcamera/utils"/>


    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ContinuousTakePictures">
        <param name="android-package" value="com.servbus.customcamera.ContinuousTakePictures"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.servbus.customcamera.activity.CameraActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA"/>
      <uses-permission android:name="android.permission.FLASHLIGHT"/>
      <uses-feature android:name="android.hardware.camera" android:required="true"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <resource-file src="src/android/res/layout/activity_camera.xml" target="res/layout/activity_camera.xml" />


    <resource-file src="src/android/res/drawable-hdpi/btn_camera.png" target="res/drawable-hdpi/btn_camera.png" />
    <resource-file src="src/android/res/drawable-hdpi/btn_camera_flash_auto.png" target="res/drawable-hdpi/btn_camera_flash_auto.png" />
    <resource-file src="src/android/res/drawable-hdpi/btn_camera_flash_off.png" target="res/drawable-hdpi/btn_camera_flash_off.png" />
    <resource-file src="src/android/res/drawable-hdpi/btn_camera_flash_on.png" target="res/drawable-hdpi/btn_camera_flash_on.png" />
    <resource-file src="src/android/res/drawable-hdpi/btn_ok.png" target="res/drawable-hdpi/btn_ok.png" />
    <resource-file src="src/android/res/drawable-hdpi/image_default.png" target="res/drawable-hdpi/image_default.png" />



    <dependency id="cordova-plugin-compat" version="^1.0.0"/>
  </platform>
</plugin>